<!DOCTYPE html>
<html>

<head>
  <title> HTML Layout with CSS </title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>
  <div id="container"> 
    <div id="menu">
      <h1> HEADER </h1>
    </div>
    <div id="content-container">
      <div id="column1">
        clm1
        <h1> COLUMN 1 CONTENT </h1>
      </div>
      <div id="column2">
        clm2
        <h1> COLUMN 2 CONTENT </h1>
      </div>
    </div>
    <div id="footer">
      <h1>  Footer </h1>
    </div>
  </div>
</body>

</html>
